.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    }

.formFields {
    width: 150%;
}

.signupBtn {
    width: 150%;
}