.mainTitle {
    text-align: center;
    padding-bottom: 2%;
}

.mainTitleText {
    text-align: center;
    padding-bottom: 2%;
    
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    }

.formFields {
    width: 90%;
    box-sizing: border-box;
}

.formTitles {
    text-align: center;
}

.signupBtn {
    width: 90%;
}

